html {
    background-color: azure;
}

header {
    padding-top: 25px;
    padding-bottom: 1px;
    background-color: darkblue;
    justify-content: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;

}

h2 {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px black;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

main {
    display: inline-block;
    margin: 1%;
    padding: 5px;
    border: 5px;
    border-color: black;
    border-style: solid;
    background-color: white;
}

aside {
    display: inline-block;
    margin: 1%;
    padding: 5px;
    border: 5px;
    border-color: black;
    border-style: solid;
    background-color: white;
}

article {
    display: inline-block;
    margin: 1%;
    padding: 5px;
    border: 5px;
    border-color: black;
    border-style: solid;
    background-color: white;
}

section {
    display: inline-block;
    margin: 1%;
    padding: 5px;
    border: 5px;
    border-color: black;
    border-style: solid;
    background-color: white;
}

footer {
    padding-top: 2px;
    padding-left: 5px;
    padding-bottom: 25px;
    background-color: darkblue;
    justify-content: left;
}

#weather-search {
    margin-top: 5px;
    padding: 5px;
    border-style: none;
    background-color: darkblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px black;
}