html {
    background-image: linear-gradient(to right, turquoise, darkblue);
    background-repeat: no-repeat;
    /*background-color: lavender;*/
}

/*here I was going to add a background image within the body element, but couldnt figure it out*/

header {
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 1px;
    background-color: darkblue;
    justify-content: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;

}

h2 {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px black;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

main {
    position: relative;
    margin-top: 0%;
    border-radius: 10px;
    display: inline-block;
    margin: 1%;
    padding: 5px;
    border: 2px;
    border-color: black;
    border-style: solid;
    background-color: white;
}

main p {
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-style: none;
    background-color: darkblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

aside {
    border-radius: 10px;
    display: inline-block;
    margin: 1%;
    padding: 5px;
    border: 2px;
    border-color: black;
    border-style: solid;
    background-color: white;
}

article {
    border-radius: 10px;
    display: inline-block;
    margin: 1%;
    padding: 5px;
    border: 2px;
    border-color: black;
    border-style: solid;
    background-color: white;
}

#previous-search {
    padding: 3px;
    background-color: darkblue;
    border: 1px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;
}

section {
    position: relative;
    margin-top: 0%;
    border-radius: 10px;
    display: inline-block;
    margin: 1%;
    padding: 5px;
    border: 2px;
    border-color: black;
    border-style: solid;
    background-color: white;
}



footer {
    border-radius: 10px;
    padding-top: 2px;
    padding-left: 5px;
    padding-bottom: 25px;
    background-color: darkblue;
    justify-content: center;
}

form {
    margin: 5px;
}

#weather-button {
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-style: none;
    background-color: darkblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

#weather-button:hover {
    cursor: pointer;
    background-color: crimson;
}

#weather-button:active {
    background-color: brown;
}

#section-and-article {
    display: flex;
}

#five-day-forecast {
    display: flex;
}

#day-one,
#day-two,
#day-three,
#day-four,
#day-five {
    color: white;
    border-radius: 10px;
    margin: 1%;
    padding: 5px;
    border: 2px;
    border-color: black;
    border-style: solid;
    background-color: darkcyan;
}

#day-one p,
#day-two p,
#day-three p,
#day-four p,
#day-five p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 600px) {
    #five-day-forecast {
        flex-direction: column;
    }

    #section-and-article {
        flex-direction: column;
    }
}